doctype html
html
  head
    title Navigation Bar
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href="/") Rental Properties
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link(href="/all-properties-formatted") Properties
            //- li.nav-item
            //-   a.nav-link(href="/about") About Us
            //- li.nav-item
            //-   a.nav-link(href="/contact") Contact
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/logout") Logout
